<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.illuminateme">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".FindVolunteerActivity" />

        <service
            android:name=".SoundService"
            android:enabled="true" />

        <activity android:name=".VolunteerAnswerActivity"
            android:noHistory="true"
            />
        <activity android:name=".BlindHomeActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MaleOrFemale" />
        <activity android:name=".RateUserActivity"/>
        <activity android:name=".BlindOrVolunteerActivity" />
        <activity android:name=".LogoutActivity" />
        <activity
            android:name=".VolunteerHomeActivity"
            android:label="@string/title_activity_home_volunteer" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>